h1,h2,body { font-family: sans-serif; }
a, a:visited { color: darkblue; text-decoration: none;}
a:hover { color: red; }
body { margin: 10%; margin-top: 5%; background-color: lightgray;}
div#content
	{ 
	background-color: white; 
	padding: 30px; 
	}
div#navbar
	{ 
	background-color: darkblue; 
	padding: 5px ; 
	}
div#navbar a { color: white; }
#navbar li { 
	display: inline; 
	list-style: none; 
	margin-right: 20px;
	}