h1,h2,body { font-family: sans-serif; }
h1#heading { 
	margin-left: 1.0em;
	margin-bottom: 0.05em;
	-webkit-margin-after: 0.05em; 
	}
a, a:visited 
	{ 
	color: darkblue; 
	text-decoration: none;
	}
a:hover { color: red; }
body { 
		margin: 0em;
	}
div#content
	{ 
	background-color: white; 
	padding: 1.05em; 
	}
div#navbar
	{ 
	background-color: darkblue; 
	padding: 5px ; 
	}
div#navbar a { color: white; }
div#navbar li { 
	display: inline; 
	list-style: none; 
	margin-right: 1.0em;
	}
img#logo {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}