<!doctype html>
<head>
<title>PortDB{% block title %}{% endblock %}</title>
<link rel='stylesheet' href='{{ url_for( 'static', filename='styles.css' ) }}' />
<link rel="apple-touch-icon" href="{{ url_for( 'static', filename='apple-touch-icon.png' ) }}" />
</head>
<body >
<h1><a href='/'>PortDB</a>{% block heading %}{% endblock %}</h1>
<div id='navbar'>
<ul>
<a href='/'><li>Home</li></a>
<a href='/about	'><li>About</li></a>
</ul>
</div>
<div id='content'>{% block content %}{% endblock %}</div>

</body>
