{% extends "basetemplate.html" %}

{% block title %} - Contributing{% endblock %}

{% block heading %}Contributing{% endblock %}


{% block content %}
To contribute to this, you can either <a href='https://github.com/yaleman/portDB/fork'>fork the github repo</a> that this site is built form, or <a href='https://github.com/yaleman/portdb/issues/new'>submit an issue</a> with the tag "enhancement"

Thanks to anyone that does, it'll only make this a more useful resource for everyone!

{% endblock %}




