{% extends "basetemplate.html" %}

{% block heading %}Select a Protocol{% endblock %}

{% block content %}

{% for protocol in protocols %}
<div class="cell panel">
    <div class="body">
        <div class="cell">
            <div class="col">
                <div class="cell">
                    <div class="col width-fill">
                        <a href="/view/{{ protocol.upper() }}">{{ protocol.upper() }}</a>  - {{ protocols[ protocol ] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}





{% endblock %}




